// Some Font Size Variables
$fontSizeVerySmall: min(0.3rem, max(0.2rem, 4vw));
$fontSizeSmall: min(0.35rem, max(0.25rem, 5vw));
$fontSizeMedium: min(0.55rem, max(0.35rem, 7vw));
$fontSizeLarge: min(0.65rem, max(0.4rem, 9vw));

// Font Families
$fontfamt: "DM Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$fontfamh: "DM Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
