// CLEAR
$clear-bgcolor: #0059ab;
$clear-fgcolor: rgba(255, 255, 255, 0.11);
$clear-pcolor: #fda700;
$clear-color: #ffffff;

// RAIN
$rain-bgcolor: #382c4d;
$rain-fgcolor: rgba(255, 255, 255, 0.11);
$rain-pcolor: #fda700;
$rain-color: #ffffff;

// CLOUDS
$clouds-bgcolor: #39393a;
$clouds-fgcolor: rgba(255, 255, 255, 0.11);
$clouds-pcolor: #fda700;
$clouds-color: #ffffff;

// THUNDERSTORM
$thunderstorm-bgcolor: #221f27;
$thunderstorm-fgcolor: rgba(255, 255, 255, 0.11);
$thunderstorm-pcolor: #fda700;
$thunderstorm-color: #ffffff;

// SNOW MIST HAZE FOG SMOKE
$snow-mist-haze-fog-smoke-bgcolor: #b3bfca;
$snow-mist-haze-fog-smoke-fgcolor: rgba(255, 255, 255, 0.11);
$snow-mist-haze-fog-smoke-pcolor: #003566;
$snow-mist-haze-fog-smoke-color: #1a1a1a;

// DUST SAND
$dust-sand-bgcolor: #ffe073;
$dust-sand-fgcolor: rgba(255, 255, 255, 0.11);
$dust-sand-pcolor: #003566;
$dust-sand-color: #1a1a1a;

// SQUALL TORNADO
$squall-tornado-bgcolor: #374b63;
$squall-tornado-fgcolor: rgba(255, 255, 255, 0.11);
$squall-tornado-pcolor: #fda700;
$squall-tornado-color: #ffffff;
