// ABSTRACTS
@use "abstracts/variables" as colors;
@use "abstracts/typography" as *;

// IMPORT SASS
@use "base/reset";
@use "components/search" as search;
@use "components/info" as info;
@use "components/switcher" as switcher;
@use "components/loader" as loader;
@use "components/error" as error;

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap");

@mixin main-style($bgcolor, $fgcolor, $color, $pcolor) {
  // Search Bar Here
  @include search.configure(
    $bgcolor: $bgcolor,
    $fgcolor: $fgcolor,
    $color: $color,
    $pcolor: $pcolor
  );
  @include search.style;

  // Info Card
  @include info.configure(
    $bgcolor: $bgcolor,
    $fgcolor: $fgcolor,
    $color: $color,
    $pcolor: $pcolor
  );
  @include info.style;

  // Switcher
  @include switcher.configure(
    $bgcolor: $bgcolor,
    $fgcolor: $fgcolor,
    $color: $color,
    $pcolor: $pcolor
  );
  @include switcher.style;

  // Loader
  @include loader.configure(
    $bgcolor: $bgcolor,
    $fgcolor: $fgcolor,
    $color: $color,
    $pcolor: $pcolor
  );
  @include loader.style;

  // Error
  @include error.configure(
    $bgcolor: $bgcolor,
    $fgcolor: $fgcolor,
    $color: $color,
    $pcolor: $pcolor
  );
  @include error.style;
  .main-card {
    font-family: $fontfamt;
    background-color: $fgcolor;
    color: $color !important;
    border-radius: 10px;
  }

  .city-name {
    text-align: center;
    letter-spacing: 0.1em;
    color: $pcolor;
    font-size: min(0.7rem, max(0.35rem, 8vw));
    text-shadow: 0px 6px 2px $bgcolor;
    font-family: $fontfamh;
  }

  .main-card {
    z-index: 0;
    width: 90%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.5fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 0.2rem;
    padding: 20px 40px;
    padding-right: 20px;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    .main-card-day {
      font-size: $fontSizeSmall;
      color: $pcolor;
      grid-row: 1/2;
      align-self: center;
    }
    .main-card-temperature {
      grid-row: 2/3;
      font-size: $fontSizeLarge;
      font-weight: 700;
      padding-bottom: 10px;
      color: $color;
    }
    .main-card-temperature > sup {
      vertical-align: top;
      color: $pcolor;
    }
    .main-card-condition {
      font-size: $fontSizeSmall;
      color: $pcolor;
      align-self: center;
    }
    .main-card-weather-icon {
      grid-row: 1/4;
      grid-column: 2/3;
      align-self: center;
      width: 100%;
      height: auto;
      color: $color !important;
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
      z-index: 1;
    }
  }
}

@mixin call-style($bgcolor, $fgcolor, $color, $pcolor) {
  background-color: $bgcolor;
  padding: 20px;
  transition: 0.32s ease-in-out;
  @include main-style($bgcolor, $fgcolor, $color, $pcolor);
}

#main-display {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

// Weather Styles
#main-display.clear {
  @include call-style(
    colors.$clear-bgcolor,
    colors.$clear-fgcolor,
    colors.$clear-color,
    colors.$clear-pcolor
  );
}
#main-display.rain {
  @include call-style(
    colors.$rain-bgcolor,
    colors.$rain-fgcolor,
    colors.$rain-color,
    colors.$rain-pcolor
  );
}
#main-display.clouds {
  @include call-style(
    colors.$clouds-bgcolor,
    colors.$clouds-fgcolor,
    colors.$clouds-color,
    colors.$clouds-pcolor
  );
}
#main-display.thunderstorm {
  @include call-style(
    colors.$thunderstorm-bgcolor,
    colors.$thunderstorm-fgcolor,
    colors.$thunderstorm-color,
    colors.$thunderstorm-pcolor
  );
}
#main-display.snow,
#main-display.haze,
#main-display.fog,
#main-display.mist,
#main-display.smoke {
  @include call-style(
    colors.$snow-mist-haze-fog-smoke-bgcolor,
    colors.$snow-mist-haze-fog-smoke-fgcolor,
    colors.$snow-mist-haze-fog-smoke-color,
    colors.$snow-mist-haze-fog-smoke-pcolor
  );
}
#main-display.dust,
#main-display.sand {
  @include call-style(
    colors.$dust-sand-bgcolor,
    colors.$dust-sand-fgcolor,
    colors.$dust-sand-color,
    colors.$dust-sand-pcolor
  );
}
#main-display.squall,
#main-display.tornado {
  @include call-style(
    colors.$squall-tornado-bgcolor,
    colors.$squall-tornado-fgcolor,
    colors.$squall-tornado-color,
    colors.$squall-tornado-pcolor
  );
}

:root {
  font-size: 100px;
}
body {
  font-family: $fontfamt;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// MEDIA
@media screen and (min-width: 768px) {
  #main-display {
    padding: 0 12% !important;
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(10vh, auto);
    justify-items: center;
    .main-card {
      grid-column: 1/5;
      grid-row: 1/11;
      height: 90vh !important;
    }
    .info-card-holder {
      grid-column: 5/9;
      grid-row: 3/6;
      align-self: flex-start;
    }
    .switcher {
      padding: 0 !important;
      width: 90% !important;
      height: 80%;
      align-self: center;
      grid-column: 5/9;
      grid-row: 6/11;
      .switcher-card {
        height: 100% !important;
      }
    }
    .city-list {
      top: 100%;
      flex-direction: column !important;
      .city-list-option:last-child {
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 0 !important;
        margin-bottom: 2px !important;
      }
    }
    .loader {
      font-size: 0.25rem !important;
      height: 100%;
      svg {
        width: 30% !important;
      }
    }
  }
}
