@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@400;600;700&display=swap");
$fontfamt: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$fontfamh: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  backface-visibility: hidden;
  scroll-behavior: smooth !important;
}

@mixin main-style($bgcolor, $fgcolor, $color) {
  .error-div {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: $bgcolor;
    color: $color;
    font-size: 0.2rem;
    padding: 30px;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 20px;
    box-shadow: 0 0 6px 1px $fgcolor;
    border-radius: 10px;
    text-align: center;
    font-family: $fontfamh;
    .error-icon {
      color: $color;
      height: 0.6rem;
      width: auto;
    }
  }
  .city-search {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.422);
    border-radius: 30px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $fgcolor;
    position: relative;
    input {
      padding: 10px 20px;
      padding-left: 0;
      width: 100%;
      font-size: 0.2rem;
      color: $color;
      font-family: $fontfamt;
      background-color: $fgcolor;
      border: none;
      border-radius: 0;
    }
    input::placeholder {
      color: $color;
      font-size: 0.2rem;
    }
    input:focus {
      outline: none;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      caret-color: $color;
      color: $color !important;
      -webkit-text-fill-color: $color;
      font-size: 0.2rem;
      font-family: $fontfamt !important;
      box-shadow: 0 0 0 50px inset $bgcolor;
    }

    button {
      display: block;
      background-color: $fgcolor;
      border: none;
      height: 0.3rem;
      width: auto;
      svg {
        color: $color;
        display: block;
        height: 100%;
        width: 100%;
      }
    }

    .city-list::-webkit-scrollbar {
      display: none;
    }
    .city-list {
      color: $color;
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      bottom: 100%;
      height: 200px;
      overflow: scroll;
      margin: 3px 0;
      scrollbar-width: none;
      .city-list-option {
        font-size: 0.2;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.422);
        width: 90%;
        background-color: $fgcolor;
        word-wrap: break-word;
        padding: 15px;
      }
      .city-list-option:last-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: 2px;
      }
    }
  }
  .city-search::after {
    content: "";
    width: 20px;
    background-color: $fgcolor;
    border-radius: 0 50px 50px 0;
  }
  .city-search::before {
    content: "";
    width: 30px;
    background-color: $fgcolor;
    border-radius: 50px 0 0 50px;
  }
  .main-card,
  .info-card {
    font-family: $fontfamt;
    background-color: $fgcolor;
    color: $color !important;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.422);
  }
  .info-card {
    padding: 10px;
    height: 0.8rem;
    display: flex;
    justify-content: center;
    gap: 3px;
    align-items: center;
  }
  .info-card-data {
    opacity: 0.9;
    font-size: min(0.25rem, 6vw);
    font-weight: 600;
  }
  .info-card-icon {
    height: 70%;
    width: auto;
  }
  .main-card {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
    align-items: center;
  }
  .main-card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-card-temperature {
    padding-top: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0.8;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.422);
  }
  .main-card-weather-icon,
  .switcher-card-weather-icon {
    width: 70%;
    height: auto;
    color: $color !important;
    svg {
      width: 100%;
      height: auto;
      margin: 0 auto;
      filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.422));
    }
  }
  .switcher-card-heading {
    font-size: min(0.23rem, 6vw);
  }
  .main-card-heading {
    text-align: center;
    font-size: min(0.5rem, 12vw);
    font-weight: 600;
    text-shadow: 0px 6px 2px $bgcolor;
    font-family: $fontfamh;
  }

  .info-card-holder {
    width: 90%;
    margin-top: 20px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    div:nth-child(1) {
      grid-column: 1/4;
    }
    div:nth-child(2) {
      grid-column: 4/7;
    }
    div:nth-child(3) {
      grid-column: 1/3;
      gap: 0;
    }
    div:nth-child(4) {
      grid-column: 3/7;
    }
  }
  .loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: $bgcolor;
    z-index: 1;
    svg {
      color: $color !important;
      display: block;
      height: auto;
      width: 50%;
    }
    div {
      font-family: $fontfamt;
    }
  }
  .switcher {
    padding: 20px 10px;
    display: flex;
    width: 95%;
    overflow: scroll;
    gap: 10%;
    scrollbar-width: none;
    .switcher-card {
      transition: 0.32s ease-in-out;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 45%;
      background-color: $fgcolor;
      color: $color;
      padding: 20px 0;
      * {
        pointer-events: none;
      }
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.422);
    }
    .switcher-card.current {
      background-color: $color;
      svg,
      div,
      h2 {
        color: $fgcolor;
      }
    }
  }
  .switcher::-webkit-scrollbar {
    display: none;
  }
}

@mixin call-style($bgcolor, $fgcolor, $color) {
  background-color: $bgcolor;
  padding: 20px;
  transition: 0.32s ease-in-out;
  @include main-style($bgcolor, $fgcolor, $color);
}

#main-display {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Weather Styles
#main-display.clear {
  $bgcolor: #fd7a00;
  $fgcolor: #fda700;
  $color: #292929;
  @include call-style($bgcolor, $fgcolor, $color);
}
#main-display.rain {
  $bgcolor: #382c4d;
  $fgcolor: #524569;
  $color: #d8d8d8;
  @include call-style($bgcolor, $fgcolor, $color);
}
#main-display.clouds {
  $bgcolor: #39393a;
  $fgcolor: #55515b;
  $color: #d8d8d8;
  @include call-style($bgcolor, $fgcolor, $color);
}
#main-display.thunderstorm {
  $bgcolor: #221f27;
  $fgcolor: #3a3443;
  $color: #d8d8d8;
  @include call-style($bgcolor, $fgcolor, $color);
}
#main-display.snow {
  $bgcolor: #acacac;
  $fgcolor: #cccccc;
  $color: #292929;
  @include call-style($bgcolor, $fgcolor, $color);
}
#main-display.haze,
#main-display.fog,
#main-display.mist,
#main-display.smoke {
  $bgcolor: #c3c3c3;
  $fgcolor: #dcdcdc;
  $color: #292929;
  @include call-style($bgcolor, $fgcolor, $color);
}
#main-display.dust,
#main-display.sand {
  $bgcolor: #ffe073;
  $fgcolor: #fcff81;
  $color: #292929;
  @include call-style($bgcolor, $fgcolor, $color);
}
#main-display.squall,
#main-display.tornado {
  $bgcolor: #374b63;
  $fgcolor: #243241;
  $color: #d8d8d8;
  @include call-style($bgcolor, $fgcolor, $color);
}

:root {
  font-size: 100px;
}
body {
  font-size: 0.2rem;
  font-family: $fontfamt;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// MEDIA
@media screen and (min-width: 768px) {
  #main-display {
    padding: 0 12% !important;
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(10vh, auto);
    justify-items: center;
    .main-card {
      grid-column: 1/5;
      grid-row: 1/11;
      height: 90vh !important;
    }
    .info-card-holder {
      grid-column: 5/9;
      grid-row: 3/6;
      align-self: flex-start;
    }
    .city-search {
      grid-row: 1/3;
      grid-column: 5/9;
    }
    .switcher {
      padding: 0 !important;
      width: 90% !important;
      height: 80%;
      align-self: center;
      grid-column: 5/9;
      grid-row: 6/11;
      .switcher-card {
        height: 100% !important;
      }
    }
    .city-list {
      top: 100%;
      flex-direction: column !important;
      .city-list-option:last-child {
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 0 !important;
        margin-bottom: 2px !important;
      }
    }
    .loader {
      font-size: 0.25rem !important;
      height: 100%;
      svg {
        width: 30% !important;
      }
    }
  }
}
