// ABSTRACTS
@use "abstracts/variables" as colors;
@use "abstracts/typography" as *;

// IMPORT SASS
@use "base/reset";
@use "base/responsive";
@use "components/search" as search;
@use "components/info" as info;
@use "components/switcher" as switcher;
@use "components/loader" as loader;
@use "components/error" as error;
@use "components/maincard" as maincard;

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap");

@mixin main-style($bgcolor, $fgcolor, $color, $pcolor) {
  // Error
  @include error.configure(
    $bgcolor: $bgcolor,
    $fgcolor: $fgcolor,
    $color: $color,
    $pcolor: $pcolor
  );
  @include error.style;

  // Search Bar Here
  @include search.configure(
    $bgcolor: $bgcolor,
    $fgcolor: $fgcolor,
    $color: $color,
    $pcolor: $pcolor
  );
  @include search.style;

  // Main Card
  @include maincard.configure(
    $bgcolor: $bgcolor,
    $fgcolor: $fgcolor,
    $color: $color,
    $pcolor: $pcolor
  );
  @include maincard.style;
  
  // Info Card
  @include info.configure(
    $bgcolor: $bgcolor,
    $fgcolor: $fgcolor,
    $color: $color,
    $pcolor: $pcolor
  );
  @include info.style;

  // Switcher
  @include switcher.configure(
    $bgcolor: $bgcolor,
    $fgcolor: $fgcolor,
    $color: $color,
    $pcolor: $pcolor
  );
  @include switcher.style;

  // Loader
  @include loader.configure(
    $bgcolor: $bgcolor,
    $fgcolor: $fgcolor,
    $color: $color,
    $pcolor: $pcolor
  );
  @include loader.style;
}

@mixin call-style($bgcolor, $fgcolor, $color, $pcolor) {
  background-color: $bgcolor;
  padding: 20px;
  transition: 0.32s ease-in-out;
  @include main-style($bgcolor, $fgcolor, $color, $pcolor);
}

#main-display {
  word-break: break-word;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

// Weather Styles
#main-display.clear {
  @include call-style(
    colors.$clear-bgcolor,
    colors.$clear-fgcolor,
    colors.$clear-color,
    colors.$clear-pcolor
  );
}
#main-display.rain {
  @include call-style(
    colors.$rain-bgcolor,
    colors.$rain-fgcolor,
    colors.$rain-color,
    colors.$rain-pcolor
  );
}
#main-display.clouds {
  @include call-style(
    colors.$clouds-bgcolor,
    colors.$clouds-fgcolor,
    colors.$clouds-color,
    colors.$clouds-pcolor
  );
}
#main-display.thunderstorm {
  @include call-style(
    colors.$thunderstorm-bgcolor,
    colors.$thunderstorm-fgcolor,
    colors.$thunderstorm-color,
    colors.$thunderstorm-pcolor
  );
}
#main-display.snow,
#main-display.haze,
#main-display.fog,
#main-display.mist,
#main-display.smoke {
  @include call-style(
    colors.$snow-mist-haze-fog-smoke-bgcolor,
    colors.$snow-mist-haze-fog-smoke-fgcolor,
    colors.$snow-mist-haze-fog-smoke-color,
    colors.$snow-mist-haze-fog-smoke-pcolor
  );
}
#main-display.dust,
#main-display.sand {
  @include call-style(
    colors.$dust-sand-bgcolor,
    colors.$dust-sand-fgcolor,
    colors.$dust-sand-color,
    colors.$dust-sand-pcolor
  );
}
#main-display.squall,
#main-display.tornado {
  @include call-style(
    colors.$squall-tornado-bgcolor,
    colors.$squall-tornado-fgcolor,
    colors.$squall-tornado-color,
    colors.$squall-tornado-pcolor
  );
}

:root {
  font-size: 100px;
}
body {
  font-family: $fontfamt;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
