.weather-display {
  display: flex;
  width: 80%;
}

.cast-display {
  display: block;
  height: auto;

  align-items: center;
}

.cast-display > img {
  animation: slide-in 0.5s forwards ease-in-out;
  height: 325px;
  width: 326px;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.info-display {
  font-size: 30px;
  font-weight: 500;
  font-family: "M PLUS 2", Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.current-temp {
  font-size: 55px;
  font-weight: 700;
}

.cast-temp {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.humidity {
  display: flex;
  gap: 5px;
}

.humidity > img {
  display: inline-block;
}
