.weather-display {
  display: flex;
  width: 80%;
}

.cast-display {
  display: block;
  height: auto;

  align-items: center;
}

.cast-display > img {
  animation: slide-in 0.5s forwards ease-in-out;
  height: 326px;
  width: 350px;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.info-display {
  display: flex;
  font-size: 30px;
  font-weight: 500;

  flex-direction: column;
}

.current-temp {
}
