header {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

header > h1 {
  margin: 0;
  color: white;
  font-weight: 700;
  font-size: 52px;
  padding: 36px 0;
}

.user-input {
  display: flex;
  align-items: center;
}

.city-name {
  background: transparent;
  border-radius: 50px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  border: solid 2px white;
}

.city-name:focus {
  outline: none;
}

::placeholder {
  font-weight: 500;
  color: white;
  opacity: 1;
  font-size: 20px;

  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

.city-name:focus::placeholder {
  color: transparent;
}

.user-input > button {
  cursor: pointer;
  background-color: transparent;
  font-family: "Poppins";
  font-size: 20px;
  padding: 5px 12px;
  font-weight: 700;
  border: none;
  border-top-right-radius: 25px;
  border: solid 2px white;
  border-bottom-right-radius: 25px;
  border-left-width: 0;
}

.user-input img {
  vertical-align: middle;
  height: 23px;
  width: auto;
  position: relative;
  bottom: 2px;
}
