.loading-begin {
  color: white;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 55px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 400px;
  top: 175px;
  height: 450px;
  background-color: black;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 9;
}

.loading-begin.active {
  opacity: 1;
}
