.loading-begin {
  color: white;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 9vmin;
  font-weight: 500;
  width: 100%;
  text-align: center;

  position: absolute;
  top: 30vh;
  height: 400px;
  background-color: inherit;
  opacity: 1;
  z-index: 9;

  display: flex;
  justify-content: center;
  align-items: center;
}