@media screen and (max-width: 890px) {
  .city-name {
    width: 100%;
  }
  header > h1 {
    font-size: 10vmin;
  }
  header {
    flex-direction: column;
    width: 80%;
    align-items: center;
  }
  .weather-display {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
  }
  .cast-display {
    width: 100%;
  }
  .info {
    gap: 10vmin;
  }
  .cast-display > img {
    height: auto;
    width: 100%;
  }
  .loading-begin {
    top: 35vh !important;
  }
}
