@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@500;700&display=swap");

/* RESET CSS  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* PARTICLES */
#tsparticles {
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* ERROR  */
.display-error {
  position: absolute;
  transform: translateY(-100%);
  animation: error-pop-in 3s ease-in-out forwards;

  color: white;
  font-weight: 500;
  font-size: 20px;

  background-color: rgb(255, 30, 30);
  padding: 10px 20px;
  border-radius: 0 0 10px 10px;
}

@keyframes error-pop-in {
  0% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-top: 70px;
}

header > h1 {
  margin: 0;
  color: white;
  font-weight: 700;
  font-size: 52px;
  padding: 36px 0;
}

.user-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.city-name {
  background: #fff;
  border-radius: 50px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 5px;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: #4d4b4b;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;

  border: none;
  width: 90%;
}

.city-name:focus {
  outline: none;
}

::placeholder {
  font-weight: 700;
  color: #4d4b4b;
  opacity: 1;
  font-size: 35px;

  text-align: center;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

.city-name:focus::placeholder {
  color: transparent;
}

.user-input > button {
  cursor: pointer;
  background-color: white;
  font-family: "Poppins";
  font-size: 35px;

  padding: 3px 10px;
  font-weight: 700;
  border: none;
  border-top-right-radius: 35px;
  border: solid 2px white;
  border-bottom-right-radius: 35px;
  border-left-width: 0;

  width: 10%;
  height: 100%;
  min-width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-input img {
  vertical-align: middle;
  height: 30px;
  width: auto;
  position: relative;
  bottom: 2px;
}

/* DISPLAY */
.weather-display {
  display: flex;
  width: 70%;
  opacity: 1;
  justify-content: center;
  color: #fff;

  font-size: 50px;
  padding: 80px 20px;
  gap: 50px;
}

.temp-info {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  gap: 10px;
  justify-content: center;
}

.display-city-name {
  font-size: 45px;
  font-weight: 500;
}

.display-condition {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.display-current-temp {
  font-weight: 700;
  line-height: 40px;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.info-display {
  font-size: 30px;
  font-weight: 500;
  font-family: "M PLUS 2", Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  transition: all 0.7s ease-in-out;
}

.white-block {
  height: 70px;
  width: 7px;
  background-color: #fff;
}

.info {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.info-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
}

.max-temp-logo,
.min-temp-logo {
  height: 20px;
  margin-left: 7px;
  display: inline-block;
}

.cast-temp {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2px;
}

.min-max-temp {
  display: flex;
  flex-direction: column;
}

.humidity {
  display: flex;
  gap: 5px;
}

.humidity > img {
  display: inline-block;
}

.cast {
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
}

.misc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.wind {
  display: flex;
  align-items: center;
  gap: 2px;
}

.wind > img {
  display: inline-block;
}

.min-temp,
.max-temp {
  text-align: right;
}
/* LOADING */
.loading-begin {
  color: white;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  font-weight: 500;
  width: 100%;
  text-align: center;

  position: absolute;
  min-height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01223aef;
  z-index: 10;
}

/* WEATHER EFFECTs */
.sun {
  background-image: url("./assets/sun.svg");
  background-size: cover;
  height: 150px;
  width: 150px;
  z-index: 9;

  border: none;
  border-radius: 50%;
  box-shadow: 0 0 60px 10px rgb(255 255 0);
  display: block;
  transform: scale(0);
  animation: show-in 0.4s ease-in-out forwards;

  backface-visibility: hidden;
}

@keyframes show-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.hills-container {
  min-height: 400px;
  height: 45vh;
  width: 100%;

  position: relative;
  overflow: clip;
}

.hills1,
.hills2 {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -1px;

  width: 100%;
  height: 100%;
}
.hills1 {
  background-image: url("./assets/hills1.svg");
  height: 70%;
  z-index: 9;
}

.hills2 {
  background-image: url("./assets/hills2.svg");
  z-index: 8;
}

/* BODY */
body,
html {
  font-family: "Poppins", sans-serif, Verdana, Geneva, Tahoma;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  background: #0095ff;
  background-repeat: no-repeat;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

footer {
  background-color: #003000;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 30px;
}

.credits {
  padding: 30px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  /* HEADER  */
  header {
    width: 85%;
  }

  .city-name,
  *::placeholder,
  .user-input > button {
    font-size: 30px;
  }

  .city-name {
    width: 85%;
  }
  .user-input > button {
    width: 15%;
    min-width: 50px;
  }
  /* WEATHER DISPLAY  */
  .weather-display {
    flex-direction: column;
    align-items: center;
  }

  .display-current-temp,
  .display-condition,
  .display-city-name {
    text-align: center;
    font-size: 36px;
  }

  /* CREDITS  */
  .credits {
    text-align: center;
    font-size: 25px;
  }

  /* LOADING  */
  .loading-begin {
    font-size: 50px;
  }
}

@media screen and (max-width: 414px) {
  /* ERROR  */
  .display-error {
    width: 75%;
  }

  /* HEADER  */
  header {
    width: 95%;
  }

  .city-name,
  *::placeholder,
  .user-input > button {
    font-size: 23px;
  }

  .user-input > button {
    width: 10%;
    min-width: 40px;
  }
  .city-name {
    width: 90%;
  }
  .user-input img {
    height: 22px;
  }
  /* LOADING  */
  .loading-begin {
    font-size: 45px;
  }
}
