@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@500;700&display=swap");

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

header > h1 {
  margin: 0;
  color: white;
  font-weight: 700;
  font-size: 52px;
  padding: 36px 0;
}

.user-input {
  display: flex;
  align-items: center;
}

.city-name {
  background: transparent;
  border-radius: 50px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  border: solid 2px white;
}

.city-name:focus {
  outline: none;
}

::placeholder {
  font-weight: 500;
  color: white;
  opacity: 1;
  font-size: 20px;

  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

.city-name:focus::placeholder {
  color: transparent;
}

.user-input > button {
  cursor: pointer;
  background-color: transparent;
  font-family: "Poppins";
  font-size: 20px;
  padding: 5px 12px;
  font-weight: 700;
  border: none;
  border-top-right-radius: 25px;
  border: solid 2px white;
  border-bottom-right-radius: 25px;
  border-left-width: 0;
}

.user-input img {
  vertical-align: middle;
  height: 23px;
  width: auto;
  position: relative;
  bottom: 2px;
}

/* DISPLAY */
.weather-display {
  display: flex;
  width: 70%;
  opacity: 1;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.cast-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 350px;
}

.cast-display > img {
  animation: slide-in 0.5s forwards ease-in-out;
  animation-delay: 0.2s;
  height: 350px;
  width: 100%;
  opacity: 0;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.info-display {
  font-size: 30px;
  font-weight: 500;
  font-family: "M PLUS 2", Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  transition: all 0.7s ease-in-out;
}

.white-block {
  height: 70px;
  width: 7px;
  background-color: #fff;
}

.info {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.info-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
}

.display-city-name {
  margin: 0;
  font-size: 45px;
  color: white;
}
.max-temp-logo,
.min-temp-logo {
  height: 20px;
  margin-left: 7px;
  display: inline-block;
}
.current-temp {
  font-size: 70px;
  font-weight: 700;
}

.cast-temp {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2px;
}

.min-max-temp {
  display: flex;
  flex-direction: column;
}

.humidity {
  display: flex;
  gap: 5px;
}

.humidity > img {
  display: inline-block;
}

.cast {
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
}

.misc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.wind {
  display: flex;
  align-items: center;
  gap: 2px;
}

.wind > img {
  display: inline-block;
}

.min-temp,
.max-temp {
  text-align: right;
}
/* LOADING */
.loading-begin {
  color: white;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  font-weight: 500;
  width: 100%;
  text-align: center;

  position: static;
  top: 30vh;
  height: 400px;
  background-color: inherit;
  opacity: 1;
  z-index: 9;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  box-sizing: border-box;
}

body,
html {
  font-family: "Poppins", sans-serif, Verdana, Geneva, Tahoma;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  background: linear-gradient(246.17deg, #7a04c3 21.35%, #103753 97.99%);
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1048px) {
  .city-name {
    width: 100%;
  }
  header > h1 {
    font-size: 10vw;
    padding-bottom: 2vh;
  }

  header {
    flex-direction: column;
    width: 80%;
    align-items: center;
  }
  .weather-display {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
  }
  .cast-display > img {
    height: 267px;
    width: 85%;
  }
  .cast-display {
    width: 100%;
    height: auto;
  }
  .info {
    gap: 10vw;
  }
  .current-temp {
    font-size: 13vw;
  }
  .loading-begin {
    top: 35vh !important;
    font-size: 9vw;
  }
  body {
    gap: 10vh;
  }
}

@media screen and (max-width: 414px) {
  .loading-begin {
    top: 30vh !important;
  }
}
